<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!--footer-->
    <div th:fragment="footer">
        <footer class="footer">
            <div class="container">
                <!--      여기를 수정하세요          -->


                I'm Footer
                Design Me!!


                <!--       여기까지 수정하세요         -->
            </div>
        </footer>
    </div>
    <!--/footer-->
</html>

select *
from mandalart a, mandal_items b, mandal_subitems as `c`
where a.mandal_id = b.mandal_id
and
b.mandal_mainitem_id = c.madal_mainitem_id
and
a.madal_id = ?

