<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>

        <div th:fragment="table">
            <ul class="mandalart-table-items">
                <ul>
                    <li class="mandalart-position-1">1</li>
                    <li class="mandalart-position-2">2</li>
                    <li class="mandalart-position-3">3</li>
                </ul>
                <ul>
                    <li class="mandalart-position-4">4</li>
                    <li class="mandalart-position-5">5</li>
                    <li class="mandalart-position-6">6</li>
                </ul>
                <ul>
                    <li class="mandalart-position-7">7</li>
                    <li class="mandalart-position-8">8</li>
                    <li class="mandalart-position-9">9</li>
                </ul>
            </ul>
        </div>

    </body>
</html>