<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>

        <div th:fragment="table">
            <ul class="mandalart-table-items">
                <ul>
                    <li>
                        <input type="text" class="mandalart-position-1">
                    </li>
                    <li>
                        <input type="text" class="mandalart-position-2">
                    </li>
                    <li>
                        <input type="text" class="mandalart-position-3">
                    </li>
                </ul>
        </div>


        
    </body>
</html>