<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>

        <div th:fragment="table">
            <ul class="mandalart-table-items">
                <ul>
                    <li>
                        <input type="text" class="mandalart-position-1">
                    </li>
                    <li>
                        <input type="text" class="mandalart-position-2">
                    </li>
                    <li>
                        <input type="text" class="mandalart-position-3">
                    </li>
                </ul>
                <ul>
                    <li>
                        <input type="text" class="mandalart-position-4">
                    </li>
                    <li>
                        <input type="text" class="mandalart-position-5">
                    </li>
                    <li>
                        <input type="text" class="mandalart-position-6">
                    </li>
                </ul>
                <ul>
                    <li>
                        <input type="text" class="mandalart-position-7">
                    </li>
                    <li>
                        <input type="text" class="mandalart-position-8">
                    </li>
                    <li>
                        <input type="text" class="mandalart-position-9">
                    </li>
                </ul>
            </ul>

        </div>


    </body>
</html>