html, body {
    font-family: 'Nanum Gothic';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #2D3942;
    color: white;
    height:100%;
}

header {
    text-align: center;
    background-color: #2D3942;
    height:10%;

}

.header_wrapper {
    margin-top: 1%;
}

.mother_table {
    border: 3px solid white;
    border-spacing: 0px;
    text-align: center;
    margin: 35px auto 0px auto;
}

.mother_square {
    padding: 0;
    height: 210px;
    width: 210px;
}

.mother_square td {
    padding:0;
}

.square {
    padding: 0;
    height: 70px;
    width: 70px;
}

footer {
    background-color: #2D3942;
    height: 5%;
    text-align: center;
}

input {
    border: 1px solid white;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align:center;
    word-wrap: break-word;
    word-break: break-word;
}
