<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
    <title>INDEX PAGE</title>

</head>
<body>
<!-- header flagment ../layout/header.html을 수정하세요. -->
<div th:replace="layout/header::header"></div>

<!-- INDEX BODY를 작성해주세요.-->
I'm INDEX PAGE
DESIGN ME!!
<!-- INDEX BODY 끝 -->
<a href="/oauth2.authorization.google">로그인하자</a>
<!--<a href="/logout">로그아웃</a>-->
<div th:text="${userName}"></div>

<br><br><br>


<!-- header flagment ../layout/footer.html을 수정하세요. -->
<div th:replace="layout/footer::footer"></div>

</body>
</html>