<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8"/>
    <title>MANDAL-ART PAGE</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
</head>
<body>
<!-- header flagment ../layout/header.html을 수정하세요. -->
<div th:replace="layout/header::header"></div>

<form action="#" th:action="@{/mandalart}" th:object="${mandalart}" method="post">
    <table>
        <tr>
            <td>
                <ul>
                    <ul>
                        <li><p><input th:name="item11" th:value="*{item11}"></p></li>
                        <li><p><input th:name="item12" th:value="*{item12}"></p></li>
                        <li><p><input th:name="item13" th:value="*{item13}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item14" th:value="*{item14}"></p></li>
                        <li><p><input th:name="item15" th:value="*{item15}"></p></li>
                        <li><p><input th:name="item16" th:value="*{item16}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item17" th:value="*{item17}"></p></li>
                        <li><p><input th:name="item18" th:value="*{item18}"></p></li>
                        <li><p><input th:name="item19" th:value="*{item19}"></p></li>
                    </ul>
                </ul>
            </td>
            <td>
                <ul>
                    <ul>
                        <li><p><input th:name="item21" th:value="*{item21}"></p></li>
                        <li><p><input th:name="item22" th:value="*{item22}"></p></li>
                        <li><p><input th:name="item23" th:value="*{item23}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item24" th:value="*{item24}"></p></li>
                        <li><p><input th:name="item25" th:value="*{item25}"></p></li>
                        <li><p><input th:name="item26" th:value="*{item26}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item27" th:value="*{item27}"></p></li>
                        <li><p><input th:name="item28" th:value="*{item28}"></p></li>
                        <li><p><input th:name="item29" th:value="*{item29}"></p></li>
                    </ul>
                </ul>
            </td>
            <td>
                <ul>
                    <ul>
                        <li><p><input th:name="item31" th:value="*{item31}"></p></li>
                        <li><p><input th:name="item32" th:value="*{item32}"></p></li>
                        <li><p><input th:name="item33" th:value="*{item33}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item34" th:value="*{item34}"></p></li>
                        <li><p><input th:name="item35" th:value="*{item35}"></p></li>
                        <li><p><input th:name="item36" th:value="*{item36}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item37" th:value="*{item37}"></p></li>
                        <li><p><input th:name="item38" th:value="*{item38}"></p></li>
                        <li><p><input th:name="item39" th:value="*{item39}"></p></li>
                    </ul>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <ul>
                        <li><p><input th:name="item41" th:value="*{item41}"></p></li>
                        <li><p><input th:name="item42" th:value="*{item42}"></p></li>
                        <li><p><input th:name="item43" th:value="*{item43}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item44" th:value="*{item44}"></p></li>
                        <li><p><input th:name="item45" th:value="*{item45}"></p></li>
                        <li><p><input th:name="item46" th:value="*{item46}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item47" th:value="*{item47}"></p></li>
                        <li><p><input th:name="item48" th:value="*{item48}"></p></li>
                        <li><p><input th:name="item49" th:value="*{item49}"></p></li>
                    </ul>
                </ul>
            </td>
            <td>
                <ul>
                    <ul>
                        <li><p><input th:name="item51" th:value="*{item51}"></p></li>
                        <li><p><input th:name="item52" th:value="*{item52}"></p></li>
                        <li><p><input th:name="item53" th:value="*{item53}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item54" th:value="*{item54}"></p></li>
                        <li><p><input th:name="item55" th:value="*{item55}"></p></li>
                        <li><p><input th:name="item56" th:value="*{item56}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item57" th:value="*{item57}"></p></li>
                        <li><p><input th:name="item58" th:value="*{item58}"></p></li>
                        <li><p><input th:name="item59" th:value="*{item59}"></p></li>
                    </ul>
                </ul>
            </td>
            <td>
                <ul>
                    <ul>
                        <li><p><input th:name="item61" th:value="*{item61}"></p></li>
                        <li><p><input th:name="item62" th:value="*{item62}"></p></li>
                        <li><p><input th:name="item63" th:value="*{item63}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item64" th:value="*{item64}"></p></li>
                        <li><p><input th:name="item65" th:value="*{item65}"></p></li>
                        <li><p><input th:name="item66" th:value="*{item66}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item67" th:value="*{item67}"></p></li>
                        <li><p><input th:name="item68" th:value="*{item68}"></p></li>
                        <li><p><input th:name="item69" th:value="*{item69}"></p></li>
                    </ul>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <ul>
                        <li><p><input th:name="item71" th:value="*{item71}"></p></li>
                        <li><p><input th:name="item72" th:value="*{item72}"></p></li>
                        <li><p><input th:name="item73" th:value="*{item73}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item74" th:value="*{item74}"></p></li>
                        <li><p><input th:name="item75" th:value="*{item75}"></p></li>
                        <li><p><input th:name="item76" th:value="*{item76}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item77" th:value="*{item77}"></p></li>
                        <li><p><input th:name="item78" th:value="*{item78}"></p></li>
                        <li><p><input th:name="item79" th:value="*{item79}"></p></li>
                    </ul>
                </ul>
            </td>
            <td>
                <ul>
                    <ul>
                        <li><p><input th:name="item81" th:value="*{item81}"></p></li>
                        <li><p><input th:name="item82" th:value="*{item82}"></p></li>
                        <li><p><input th:name="item83" th:value="*{item83}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item84" th:value="*{item84}"></p></li>
                        <li><p><input th:name="item85" th:value="*{item85}"></p></li>
                        <li><p><input th:name="item86" th:value="*{item86}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item87" th:value="*{item87}"></p></li>
                        <li><p><input th:name="item88" th:value="*{item88}"></p></li>
                        <li><p><input th:name="item89" th:value="*{item89}"></p></li>
                    </ul>
                </ul>
            </td>
            <td>
                <ul>
                    <ul>
                        <li><p><input th:name="item91" th:value="*{item91}"></p></li>
                        <li><p><input th:name="item92" th:value="*{item92}"></p></li>
                        <li><p><input th:name="item93" th:value="*{item93}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item94" th:value="*{item94}"></p></li>
                        <li><p><input th:name="item95" th:value="*{item95}"></p></li>
                        <li><p><input th:name="item96" th:value="*{item96}"></p></li>
                    </ul>
                    <ul>
                        <li><p><input th:name="item97" th:value="*{item97}"></p></li>
                        <li><p><input th:name="item98" th:value="*{item98}"></p></li>
                        <li><p><input th:name="item99" th:value="*{item99}"></p></li>
                    </ul>
                </ul>
            </td>
        </tr>
    </table>





    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<div></div>

<input type="button">

<!-- INDEX BODY 끝 -->


<!-- header flagment ../layout/footer.html을 수정하세요. -->
<div th:replace="layout/footer::footer"></div>

</body>

<script th:inline="javascript">
    const mandalart = [[${mandalart}]];
    const parse = JSON.parse(mandalart)
    const itemsParse = JSON.parse(parse.items)

</script>

</html>