<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8"/>
    <title>MANDAL-ART PAGE</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
</head>
<body>
<!-- header flagment ../layout/header.html을 수정하세요. -->
<div th:replace="layout/header::header"></div>

<div th:text="${uuid}"></div>
 INDEX BODY를 작성해주세요.
<br><br><br>

<form action="#" th:action="@{/mandalart}" th:object="${mandalart}" method="post">
    <table>
        <tr>
            <ul>
                <li>
                    <p>
                        <input type="text" th:filed="*{item11}" th:value="${item11}">
                    </p>
                </li>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
    </table>




    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<div></div>

<input type="button">

<!-- INDEX BODY 끝 -->


<!-- header flagment ../layout/footer.html을 수정하세요. -->
<div th:replace="layout/footer::footer"></div>

</body>

<script th:inline="javascript">
    const mandalart = [[${mandalart}]];
    const parse = JSON.parse(mandalart)
    const itemsParse = JSON.parse(parse.items)

</script>

</html>