<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8"/>
    <title>MANDAL-ART PAGE</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
</head>
<body>
itemsSquare;

@Column
private String itemsItem;

<!--<div th:value="@{items}"></div>-->

<!--<div th:text="*{items.itemsSquare}"></div>-->
<!--<div th:text="*{items.itemsItem}"></div>-->

<!--<div th:object="${items}">-->
<!--    <dl>-->
<!--        <dt>ID</dt>-->
<!--        <dd th:text="{itemsId}"></dd>-->
<!--        <dt></dt>-->
<!--    </dl>-->

<!--</div>-->

</body>
</html>